# Core functionality - changes here should be rare!
/src/app.py                   @paulina351
/src/backend/database.py      @paulina351
/src/backend/routers/auth.py  @paulina351

# The frontend will need refactored soon to be more object oriented.
/src/static/   @paulina351
